li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.container {
  padding: 10px 0;
}

ul.list_menu {
  background: #00483d;
  box-shadow: 0 4px 6px #ccc;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
  width: 100%;

  a {
    color: #fff;

    &::after {
      display: block;
      height: 4px;
      content: " ";
      border-radius: 2px;
      background: #00483d;
    }
  }

  li {
    margin: 8px 14px 4px 14px;
    display: inline-flex;

    &:hover {
      a::after {
        background: #f7941e;
      }
    }
  }
}

.quick_sales {
  .img_quick_sale {
    width: 100%;
    object-fit: contain;
  }
}

.fp_container {
  margin-top: 10px;

  .fp_banner {
    width: 370px;
    height: 30px;
    background-color: #e95d25;
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: "";
      background-color: white;
      width: 80%;
      border-left: 29px solid #e95d25;
      border-top: 29px solid #ffffff;
      position: absolute;
      right: 0;
      z-index: 1;
    }

    .fp_banner_text {
      position: absolute;
      z-index: 2;
      left: 103px;
      font-size: 16px;
      font-weight: 700;
      top: 2px;
    }
  }
  .fp_card_container {
    background-color: white;
    padding: 30px 30px 0;
    width: 96%;
    aspect-ratio: 221.758/330;
    max-height: 330px;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 10px;
    margin-bottom: 10px;

    .fp_card_header {
      .fp_card_img[data-image] {
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .fp_card_name {
      display: block;
      width: 100%;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
    }
    .fp_card_price {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      color: rgb(225, 61, 61);

      span {
        color: black;
        text-decoration: line-through;
        font-size: 12px;
      }
    }
  }
}
.list_product_container {
  // margin-top: 16px !important;

  .item_product_container {
    &:hover {
      .item_product_header {
        .promote {
          display: block;
          visibility: visible;
          opacity: 0.9;
          animation: fade 1s;

          ul {
            list-style: none;
            background: #fff;
            border-radius: 4px;
            margin: 0;
            padding: 10px 10px 5px 10px;
            text-align: left;

            li {
              padding-bottom: 5px;
              font-size: 11px;
            }
          }
        }
      }
    }

    background: #fff;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;

    .item_product_header {
      width: calc(150 / 232 * 100%);
      margin: 0 auto;
      padding-top: 30px;

      .img_product {
        width: 100%;
      }

      .promote {
        border-radius: 5px;
        background-image: linear-gradient(#00917a, #079780);
        padding: 2px;
        box-shadow: 0 4px 6px #00000029;
        margin: 3px;
        position: absolute;
        top: 30px;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 200ms, visibility 200ms;
        transition: opacity 200ms, visibility 200ms;
        color: #333;
        width: 100%;
        left: -3px;

        ul {
          list-style: none;
          background: #fff;
          border-radius: 4px;
          margin: 0;
          padding: 10px 10px 5px 10px;
          text-align: left;

          li {
            padding-bottom: 5px;
            font-size: 11px;
          }
        }
      }
    }
    .item_product_content {
      padding: 0 10px 15px 10px;
      text-align: center;

      .title {
        display: block;
        font-size: 13px;
        font-weight: bold;
      }

      .price {
        strong {
          color: #fd475a;
          font-size: 16px;
        }

        small {
          text-decoration: line-through;
        }
      }

      .up_form {
        font-size: 13px;
        text-align: left;
        padding-top: 8px;
        font-style: italic;
      }
    }

    .note {
      font-size: 13px;
      text-align: left;
      padding: 0 10px;
      .bag {
        display: inline-block;
        background: #f7941e 0% 0% no-repeat padding-box;
        box-shadow: 0 4px 6px #00000029;
        border-radius: 3px;
        padding: 2px 5px;
        color: #fff;
        font-size: 11px;
      }
    }
  }
}
.bag {
  display: inline-block;
  background: #f7941e 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  padding: 2px 5px;
  color: #fff;
  font-size: 11px;
}
.text_orange {
  color: #f79420;
}
