.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  outline: none;
  max-height: 100vh;
  overflow-y: scroll;
  border-radius: 13px;
}
