.root {
  :global {
  }
}

.infoContainer {
  background-color: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
}

.searchBox {
  max-width: 480px;
  max-height: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 6px #ccc;
  position: relative;

  input {
    background: #e5e5e5;
    max-width: 480px;
    min-width: 480px;
    height: 40px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 15px;
  }
}

.searhBtn {
  box-shadow: 0 4px 6px #ccc;
  position: absolute;
  right: -12px;
  top: -9px;
  background: #00483d;
  background-image: linear-gradient(#00917a, #00483d);
  border: none;
  border-radius: 17px;
  width: 42px;
  height: 42px;
  outline: none;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.compareBtn {
  background-image: linear-gradient(180deg, #00917a 0%, #00483d 100%);
  color: #fff !important;
  padding: 6px 10px !important;
  text-transform: none !important;
  border-radius: 4px !important;
}
.compareItem {
  position: relative;

  &:hover .saleBox {
    display: block;
  }
}

.sticker {
  position: absolute;
  top: 0;
  left: 0;
}

.saleBox {
  display: none;
  max-width: 90%;
  max-height: 280px;
  overflow: scroll;
  font-size: 10px !important;
  border: 2px solid #00917a;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  transition: all 0.3s;
}
.compareItems {
  overflow: auto;

  .compareItem {
    min-width: 20%;
    padding: 10px;
  }
}

.searchResult {
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px 0px;
  z-index: 9999;

  li {
    padding: 0 20px;
  }
  li:hover {
    background-color: #ccc;
  }
}

@media only screen and (max-width: 885px) {
  .compareTitle {
    flex-direction: column !important;

    p {
      text-align: center;
    }
  }

  .compareItems {
    overflow: auto;

    .compareItem {
      min-width: 30%;
      padding: 10px;
    }
  }

  .searchBox {
    max-width: 480px;
    max-height: 40px;

    input {
      min-width: unset;
    }
  }
}
