.root {
  margin-bottom: 30px;
  :global {
  }
}

.searchBox {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 15px !important;
  box-shadow: 0 4px 6px #ccc !important;
  background-color: #e5e5e5;
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
}

.searhBtn {
  box-shadow: 0 4px 6px #ccc;
  position: absolute;
  right: 4px;
  top: -6px;
  background: #00483d;
  background-image: linear-gradient(#00917a, #00483d);
  border: none;
  border-radius: 17px;
  width: 42px;
  height: 42px;
  outline: none;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.placeBtn {
  background-color: #00483d !important;
  padding: 10px 80px !important;
  border-radius: 22px !important;
  color: #fff !important;

  &:hover {
    background-color: #005245 !important;
  }
}
