.root {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 !important;

  :global {
    .MuiGrid-item {
      button {
        text-transform: none;
        min-width: 100%;
        height: 45px;
        padding: 3px;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

.imgBackground {
  background-color: #fbe9e7;
  padding: 40px;
  height: 100%;
}

.formWrapper {
  padding: 120px 120px;
  align-self: center;
}

.form {
  max-width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px !important;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #e5e5e5;
  outline: none;
}

label {
  color: #333333;
  font-size: 14px;
}
form {
  max-width: 100%;
}

.errorText {
  color: #c91010;
  margin-top: 0;
  font-size: 13px;
}

.errorText::before {
  display: inline;
  content: "⚠ ";
}
