.root {
  margin: unset !important;
  padding-left: 30px;
  :global {
    input {
      border-radius: 13px !important;
    }
  }
}

.infoWrapper {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 30px;
  min-height: 100px;
}

.banner {
  width: 100%;
  background-color: #dcedfd;
  height: 190px;
  position: relative;
  padding-left: 80px;
  border-radius: 12px;
  img {
    position: absolute;
    bottom: 0;
    right: 30px;
  }
}
