.root {
  :global {
  }
}

.sendCmtBtn {
  background: transparent linear-gradient(180deg, #008d77 0%, #00483d 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 13px !important;
  width: 100%;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #fff !important;
}

.infoContainer {
  background-color: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
}
