.root {
  background-color: #f5f5f5;
  :global {
    ul {
      a {
        color: #c5c5d1;

        &:hover {
          color: #000;
          border-right: 4px solid #00483d;

          svg {
            color: #009981;
          }
        }
      }
    }
  }
}

.navBar {
  background-color: #00483d;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  padding-right: 100px !important;
  z-index: 9;
  a {
    color: #fff;
  }
}

.sideBar {
  min-width: 300px !important;
  min-height: 100vh;
  background-color: #fff;
}

.mainBody {
  width: 90%;
  padding-top: 60px !important;
  padding-right: 125px;
  padding-left: 30px;
}

.banner {
  width: 95%;
  background-color: #dcedfd;
  height: 190px;
  position: relative;
  padding-left: 80px;
  border-radius: 12px;
  img {
    position: absolute;
    bottom: 0;
    right: 30px;
  }
}

.active {
  a {
    color: #000 !important;
    border-right: 4px solid #00483d !important;

    svg {
      color: #009981 !important;
    }
  }
}

.userName {
  position: relative;
}
.userName:hover .menuDropDown {
  display: block !important;
}

.menuDropDown {
  position: absolute;
  min-height: 30px;
  display: none;
  top: 29px;
  right: 0;
  width: 160px;
  background-color: #009981;

  a {
    color: #fff !important;
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px solid #036556;
    &:hover {
      color: #01ebc8 !important;
      svg {
        color: #01ebc8 !important;
      }
      border-right: none !important;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    top: -10px;
    position: absolute;
  }
}
