.root {
  :global {
    p {
      font-size: 16px;
    }

    .MuiInputBase-root {
      background: #e5e5e5;
      border-radius: 13px !important;
      input {
        border-radius: 13px !important;
        font-size: 14px !important;
        height: 40px !important;
        padding: 0 9px !important;
      }

      textarea {
        font-size: 14px !important;
        padding: 0 !important;
      }
    }

    .slick-arrow {
      position: absolute;
      background-color: #009a826b;
      width: 20px;
      height: 45px;
      color: #00483d;
      font-size: 10px;
    }

    .slick-track {
      div {
        display: flex;
        justify-content: center;
      }
    }

    .slick-center > div {
      border: 1.5px solid #009a826b;
    }
  }
}

.shipBtn {
  background: #00483e !important;
  border-radius: 4px !important;
  padding: 6px 8px !important;
  box-shadow: 0 4px 6px #ccc !important;
  color: #fff !important;
  border: none;
  font-size: 13px;
  width: 100%;
  &:hover {
    color: #fff;
    background-color: #009981;
  }
}

.buyBtn,
.addCartBtn {
  width: 100%;
  height: 60px !important;
  color: #fff !important;
  background: linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat
    padding-box;
  text-transform: none !important;
  border-radius: 3px !important;
}

.addCartBtn {
  background: linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat
    padding-box;
}

.infoContainer {
  background-color: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
}

.firstSlider {
  svg:first-child {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    z-index: 9;
    background-color: #cccccc;
    opacity: 0.5;
    color: #8b8b8b;

    &:hover {
      opacity: 1;
    }
  }

  svg:last-child {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    z-index: 9;
    background-color: #cccccc;
    opacity: 0.5;
    color: #8b8b8b;

    &:hover {
      opacity: 1;
    }
  }
}

.secondSlider {
  display: flex !important;
  align-items: center !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px;
  background-color: #fff;
  min-height: 80px !important ;
  position: relative;

  svg:first-child {
    border-radius: 0 5px 5px 0;
    position: absolute;
    left: 0;
    z-index: 9;

    &:hover {
      color: #ffffff;
      background-color: #009a826b;
    }
  }

  svg:last-child {
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 0;
    z-index: 9;

    &:hover {
      color: #ffffff;
      background-color: #009a826b;
    }
  }
}
.modal_content {
  max-width: 1200px;
  width: 90vw;
  position: relative;
  @media (min-width: 1100px) {
    display: flex;
    width: 90vw;
  }
  @media (min-width: 768px) {
    width: 92vw;
  }

  .btn_closs_modal {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fd5465;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -5px;

    .cross {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 4px;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }
  }
  .right {
    padding-right: 30px;

    .modal_quantity {
      display: flex;
      align-items: center;
      width: 80px;

      height: 30px;
      border: 1px solid #c4c4c4;
      .input_quantity {
        flex: 1;
        padding: unset;
        height: 100%;
        margin-bottom: unset;
        background-color: transparent;
        border-radius: unset;
        text-align: center;
        -webkit-appearance: none;
        margin: 0;
      }

      .btn_decrease,
      .btn_increase {
        flex: 1;
        height: 100%;
        cursor: pointer;
      }
      .btn_decrease {
        border-right: 1px solid #c4c4c4;
      }

      .btn_increase {
        border-left: 1px solid #c4c4c4;
      }
    }

    .info_user {
      margin-top: 1px;
      margin-bottom: 10px;
    }

    .receive {
      margin-bottom: 10px;

      .payment_opt {
        padding: 5px 5px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;

        &.checked {
          border-color: #009981;
          color: #009981 !important;
        }
      }
      .radio_ctn {
        cursor: pointer;

        span {
          margin-left: 5px;
        }
        .radiobox {
          position: relative;
          display: inline-block;
          width: 24px;
          height: 24px;
          transform: translateY(25%);

          input[type="radio"] {
            position: absolute;
            opacity: 0;
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #009981;
            border-radius: 50%;
          }

          input[type="radio"]:checked + label::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            background-color: #009981;
            border-radius: 50%;
          }
        }
      }
    }

    .delivery_address {
      margin-bottom: 10px;

      select {
        border-left: 5px solid transparent;
        border-right: 8px solid transparent;
      }

      textarea {
        width: 100%;
        outline: none;
        background-color: #e5e5e5;
        border: none;
        padding: 8px 20px;
        color: #858585;
        border-radius: 13px;
        min-height: 60px;
      }
    }

    .btn_order {
      width: 100%;
      padding-top: 20px;

      button {
        cursor: pointer;
        background: transparent
          linear-gradient(180deg, #009981 0%, #00483d 100%) 0% 0% no-repeat
          padding-box;
        font-weight: bold;
        border: none;
        outline: none;
        box-shadow: 0 4px 6px #00000029;
        border-radius: 8px;
        color: #fff;
        font-size: 15px;
        text-align: center;
        padding: 10px 50px;
        width: fit-content;
        margin: 0 auto;
      }
    }
    label {
      margin-bottom: 3px;
      display: block;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .left {
    .title {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
    }

    .price {
      text-align: center;

      strong {
        color: #fd475a;
        font-size: 20px;
        margin-right: 5px;
      }

      small {
        text-decoration: line-through;
        font-size: 15px;
      }
    }
  }

  .text_gray {
    color: #aaa;

    label {
      color: #aaa;
    }
  }

  input {
    margin-bottom: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error_text {
  font-size: 11px;
  color: #bf1e2d;
}

@media only screen and (max-width: 885px) {
  .inforWrapper {
    flex-direction: column !important;

    .infoImage {
      min-width: 100%;
      margin-bottom: 150px;
    }
    .infoText {
      min-width: 100%;
    }
  }
}
