$text-white: #fff;
$text-disabled: #f5f5f5;
$text-black: #000000;
$text-dark: #333333;
$text-link: #3557c4;

$primary-main: #0089bc;
$primary-second: #1090c0;
$primary-third: #eaf1f2;
$primary-lighter: #eef9ff;

$bg-white: #fff;
$bg-main: #eef9ff;
$bg-gray: #f0f2f5;
$bg-gray-light: #f5f5f5;
$bg-orange: #ff6c00;
$bg-orange-light: #ffa700;
$bg-purple-dark: #8066d5;
$bg-purple: #ab91ff;
$bg-purple-light: #c5b2ff;
$bg-primary: #0089bc;

$border-main: #bdbdbd;

$bg-input: #e9f0fd;

$border-gray: #d0d9d8;
