.root {
  padding-left: 30px;
  margin: unset !important;
  :global {
    .MuiDataGrid-columnHeaders {
      background-color: #009a82;
      color: #fff;
    }

    .MuiDataGrid-columnHeader {
      border-right: 1px solid #fff;
      font-weight: 500;
    }
  }
}

.infoWrapper {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 30px;
  min-height: 100px;
}

.banner {
  width: 100%;
  background-color: #dcedfd;
  height: 190px;
  position: relative;
  padding-left: 80px;
  border-radius: 12px;
  img {
    position: absolute;
    bottom: -24px;
    right: 30px;
  }
}
