.root {
  :global {
    .MuiChip-root {
      background-color: #f7941e !important;
      border-radius: 3px !important;
      color: #fff;
      font-size: 11px !important;
      padding: 2px 5px !important;
      max-height: 20px;

      .MuiChip-label {
        padding: 0px !important;
      }
    }

    p {
      color: #00483d;
      &:hover {
        color: #f7941e;
      }
    }
  }
}
