.root {
  background-color: #00483d;
  min-height: 40px !important;
  line-height: 40px;

  :global {
    .MuiGrid-container {
      justify-content: end !important;
    }

    .MuiButton-startIcon {
      color: #fff !important;
    }

    .MuiGrid-item {
      &:hover a {
        color: #7fd6cb;
      }
      button {
        &:hover {
          color: #7fd6cb;
          cursor: pointer;
        }
      }
    }

    .MuiBadge-standard {
      background-color: #ff6801 !important;
    }
  }
}

.Header {
  color: white;
  a {
    color: #fff;
  }
}

.secondHeader {
  display: flex !important;
  height: 90px;
  z-index: 999;
}

.Logo {
  width: 256px;
}

.searchBox {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 15px !important;
  box-shadow: 0 4px 6px #ccc !important;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
}

.searhBtn {
  box-shadow: 0 4px 6px #ccc;
  position: absolute;
  right: 4px;
  top: -6px;
  background: #00483d;
  background-image: linear-gradient(#00917a, #00483d);
  border: none;
  border-radius: 17px;
  width: 42px;
  height: 42px;
  outline: none;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.searchResult {
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px 0px;
  z-index: 9999;

  li {
    padding: 0 20px;
  }
  li:hover {
    background-color: #ccc;
  }
}

.shipBtn {
  background: #00483e !important;
  border-radius: 10px !important;
  padding: 6px 8px !important;
  box-shadow: 0 4px 6px #ccc !important;
  color: #fff !important;
  border: none;
  font-size: 12px;
  min-width: 110px !important;
  max-width: 126px !important;
  &:hover {
    color: #fff;
    background-color: #009981;
  }
}

.productNav {
  background-color: #00483d;
  min-height: 65px;
  border-radius: 5px;
  position: relative;

  .productNavItem {
    a {
      color: #fff;
      text-decoration: none;
      div {
        &:hover {
          border-bottom: 4px solid #f7941e;
          border-radius: 2px;
        }
      }
    }

    &:hover .productSubNav {
      display: block;
    }

    .productSubNav {
      display: none;
      position: absolute;
      max-height: 350px;
      width: 100%;
      left: 0;
      top: 70px;
      background-color: #fff;
      border-radius: 5px;
      padding: 10px 0;
      z-index: 999;

      a {
        color: #000;

        &:hover {
          color: #00917a;
        }
      }

      &::before {
        content: "";
        width: 100%;
        height: 20%;
        display: block;
        position: absolute;
        top: -20px;
      }
    }
  }
}

.stickyNav {
  position: fixed !important;
  top: 0px !important;
  max-width: 100vw !important;
  justify-content: space-around !important;
  padding: 10px 5px !important;
  background-color: #00483d;
  z-index: 999;

  .MuiStack-root {
    height: 25px !important;
  }

  div {
    flex-direction: row !important;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover .productSubNav {
      display: block !important;
    }
  }

  .productSubNav {
    display: none;
  }
}

.badge {
  span {
    position: absolute;
    background-color: #ff5801 !important;
    right: -13px;
    top: 20px;
    border-radius: 4px;
    width: 24px;
    height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 52%;
      left: -2%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 10px;
      height: 8px;
      background-color: #ff5801;
    }
  }
}

.chat {
  z-index: 9999;
  position: fixed;
  bottom: 82px;
  right: 99px;
}

.chatIcon {
  background-color: #009981;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  border: none;
  cursor: pointer;
}

.chatBox {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  position: absolute;
  top: -407px;
  right: -48px;
}

.chatText {
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 200px;
  background-color: #ccc;
}

.inputChat {
  border-top: 1px solid #ccc;
  bottom: 0;
  position: absolute;
  input {
    border-radius: 0 !important;
    height: 50px;
    padding: 5px;
    margin-bottom: 0;
    background-color: #fff;
  }
  svg {
    color: #bebebe !important;

    &:hover {
      cursor: pointer;
    }
  }
}

.sideBar {
  max-width: 300px !important;
  min-height: 100vh;
  background-color: #fff;
  min-width: 300px !important;
}

.active {
  a {
    color: #000 !important;
    border-right: 4px solid #00483d !important;

    svg {
      color: #009981 !important;
    }
  }
}

.userName {
  position: relative;
}
.userName:hover .menuDropDown {
  display: block !important;
}

.menuDropDown {
  position: absolute;
  min-height: 30px;
  display: none;
  top: 29px;
  right: 0;
  width: 160px;
  background-color: #009981;
  z-index: 9999;
  a {
    color: #fff !important;
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px solid #036556;
    &:hover {
      color: #01ebc8 !important;
      svg {
        color: #01ebc8 !important;
      }
      border-right: none !important;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    top: -10px;
    position: absolute;
  }
}

.mainBody {
  width: 100%;
}

.SmallScreenHeader {
  display: none !important;
}

@media only screen and (max-width: 885px) {
  .root,
  .secondHeader,
  .productNav,
  .stickyNav {
    display: none !important;
  }

  .mainBody {
    padding: 20px;
  }

  .SmallScreenHeader {
    display: block !important;
    margin-bottom: 100px;
    height: 55px;
    padding: 15px 10px 0 15px;
    background-color: #f4f4f4;

    .SideMenu {
      top: 0;
      left: 0;
      position: fixed;
      height: 100vh;
      overflow: auto;
      width: 100vw;
      background-color: #fff;
      z-index: 9999;

      .closeBtn {
        right: 0px;
        top: 10px;
        position: absolute;
        color: #01ebc8;
      }

      .user {
        background-color: #00483e;
        height: 95px;
        padding: 15px;

        .avatar {
          height: 65px;
          width: 65px;
          background-color: #fff;
          border-radius: 25px;
        }

        p,
        a {
          color: #fff;
        }
        p {
          font-style: italic;
        }
      }

      .serviceSideMenu {
        padding: 15px;
        li {
          height: 24x;
          margin-bottom: 5px;
          a {
            display: flex;
            align-items: center;
          }
        }
      }

      .productSideMenu {
        li {
          border-bottom: 1px solid #ccc;
          height: 46px;
          color: #00483d;
          padding: 10px;
        }

        .productSideSubNav {
        }
      }
    }
  }
}
