.cart {
  padding-bottom: 40px;
  @media (max-width: 1100px) {
    padding-left: 20px;
  }
}
.cart .cart-icon {
  margin-bottom: 20px;
}

.errorText {
  color: #c91010;
  margin-top: 0;
  font-size: 13px;
}

.errorText::before {
  display: inline;
  content: "⚠ ";
}

.cart .cart-icon i {
  font-size: 60px;
  display: block;
  background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%) 0% 0%
    no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cart .cart-icon label {
  font-weight: bold;
  font-size: 15px;
}

.cart .no-items {
  text-align: center;
  font-size: 15px;
}

.cart .cart_layout {
  display: block;
  align-items: stretch;
  width: 100%;

  @media (min-width: 1100px) {
    display: flex;
  }
}

.cart .cart_layout .cart_info {
  flex-grow: 1;
  padding-right: 20px;

  @media (min-width: 1100px) {
    width: 60%;
    padding-right: 80px;
  }
}

.cart .cart_layout .cart_form {
  margin-top: 70px;
  text-align: center;
  flex-grow: 1;
  @media (min-width: 1100px) {
    width: 40%;
  }

  p.text_gray {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .receive {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;

    .payment_opt {
      padding: 5px 5px 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      text-align: start;

      &.checked {
        border-color: #009981;
        color: #009981 !important;
      }
    }
    .radio_ctn {
      cursor: pointer;

      span {
        margin-left: 5px;
      }
      .radiobox {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        transform: translateY(25%);

        input[type="radio"] {
          position: absolute;
          opacity: 0;
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #009981;
          border-radius: 50%;
        }

        input[type="radio"]:checked + label::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 15px;
          height: 15px;
          background-color: #009981;
          border-radius: 50%;
        }
      }
    }
  }

  .delivery_address {
    text-align: left;
  }

  label {
    margin-bottom: 3px;
    display: block;
    font-size: 12px;
    font-weight: bold;
  }

  input,
  select {
    height: unset;
  }

  .btn_order {
    width: 100%;
    padding-top: 20px;

    button {
      cursor: pointer;
      background: transparent linear-gradient(180deg, #009981 0%, #00483d 100%)
        0% 0% no-repeat padding-box;
      font-weight: bold;
      border: none;
      outline: none;
      box-shadow: 0 4px 6px #00000029;
      border-radius: 8px;
      color: #fff;
      font-size: 15px;
      text-align: center;
      padding: 10px 50px;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.cart_form h3 {
  font-size: 20px;
  margin: 0 0 25px;
}

.cart_form .row {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: stretch;
}

.cart_form .row .control {
  padding: 0 12px;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border-radius: 13px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-items: stretch;
  width: 100%;
}

.cart_form .row .control-button {
  text-align: center;
  background: none;
}

.cart_form .row .col {
  flex-basis: 100%;
  margin-right: 20px;
  display: flex;
  justify-items: stretch;
}

.cart_form input,
.cart_form textarea,
.cart_form select {
  outline: none;
  width: 100%;
  background: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 13px;
  color: #444;
  padding: 10px 0;
  margin-bottom: 0;
}

.cart_form .control-button {
  margin-top: 10px;
}

.cart_form .control-button button {
  background: transparent linear-gradient(180deg, #009981 0%, #00483d 100%) 0%
    0% no-repeat padding-box;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 20px 50px;
}

.cart_form .control-button button:hover {
  background: #00483d;
}

.cart_form textarea {
  min-height: 90px;
}

.cart .cart_layout .cart_form .row .errors {
  border-color: #fd475a;
}

.cart_total {
  margin-top: 15px;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 40px;
}

.cart_total p {
  margin: 0 0 6px 0;
  font-weight: bold;
}

.cart_total p i {
  font-weight: normal;
}

.cart_total .next {
  display: none;
}

.order-infomation {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.cart_form .row .control-cbx {
  border: none;
  background: none;
  margin: 10px 0 0 -10px;
}

.cart_form .shVAT {
  display: none;
}

.cart_form label > input[type="checkbox"] {
  display: none;
}

.cart_form label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #f00;
  flex-shrink: 0;
}

.cart_form label > input[type="checkbox"]:checked + * {
  color: #008080;
}

.cart_form label > input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: #fff;
  text-align: center;
  background: #008080;
  border-color: #008080;
}

.cart_form label > input[type="checkbox"] + * {
  display: inline-flex;
  padding: 5px 0;
}

.cart .header {
  margin: 40px 0 25px 0;
}

.cart .header .back a {
  display: flex;
  line-height: 30px;
  font-size: 15px;
  max-width: 100px;
}

.cart .header .back i {
  margin-right: 5px;
  font-size: 30px;
}

.cart .header .back strong {
  color: #555;
  white-space: nowrap;
}

.cart .cart-info .cart-icon {
  text-align: center;
}

.cart-content {
  width: 100%;
}

.cart_items .item {
  margin-bottom: 15px;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-items: stretch;
}

.cart_items .item .img {
  width: 180px;
  text-align: center;
}

.cart_items .item .img img {
  width: 70%;
  margin: 0 auto;
}

.cart_items .item p {
  margin: 0 0 6px 0;
}

.cart_items .item p.title {
  font-weight: bold;
  text-align: justify;
}

.cart_items .item p.price strong {
  color: #fd475a;
}

.cart_items .item .number label {
  font-size: 11px;
  color: #888;
}
.cart_items .item .number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_items .item .number .control {
  justify-items: unsafe center;
  display: flex;
  align-items: center;
  width: 80px;

  height: 30px;
  border: 1px solid #c4c4c4;

  .input_quantity {
    flex: 1;
    padding: unset;
    height: 100%;
    margin-bottom: unset;
    background-color: transparent;
    border-radius: unset;
    text-align: center;
    -webkit-appearance: none;
    margin: 0;
  }

  .btn_decrease,
  .btn_increase {
    flex: 1;
    height: 100%;
    cursor: pointer;
  }
  .btn_decrease {
    border-right: 1px solid #c4c4c4;
  }

  .btn_increase {
    border-left: 1px solid #c4c4c4;
  }
}

// .cart_items .item .number .control input,
// .cart_items .item .number .control button {
//   width: 24px;
//   height: 24px;
//   font-size: 14px;
//   text-align: center;
//   line-height: 24px;
//   padding: 0;
//   margin: 0;
//   overflow: hidden;
//   border: 1px solid #c4c4c4;
//   background: #fff;
//   border-right: none;
// }

// .cart_items .item .number .control button {
//   height: 26px;
//   line-height: 26px;
// }

// .cart_items .item .number .control *:last-child {
//   border-right: 1px solid #c4c4c4;
// }

.cart_items .info {
  flex: 1;
  margin: 0 20px;
  padding-bottom: 50px;
  position: relative;
}

.cart_items .item .options {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  position: absolute;
  top: 0;
}

.cart_items .item .options .option {
  margin-right: 20px;
}

.cart_items .item .options .option strong {
  display: block;
  margin-bottom: 5px;
}

.cart_items .item .options .option label {
  padding: 8px 20px;
  border: 2px solid #00483d;
  border-radius: 3px;
  display: flex;
}

.cart_items .item .options .option label i {
  display: block;
  margin-right: 5px;
  background: #00483d 0% 0% no-repeat padding-box;
  border-radius: 14px;
  text-align: center;
  width: 14px;
  line-height: 14px;
  height: 14px;
  border-radius: 14px;
  font-size: 9px;
  color: #fff;
}

.cart_items .item .options .option label span {
  display: block;
  line-height: 14px;
}

.cart_items .info .edit {
  position: absolute;
  top: -10px;
  right: -30px;
}

.cart_items .info .edit a {
  display: block;
  float: left;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background: #009981;
  font-size: 9px;
  text-align: center;
}

.cart_items .info .edit a.red {
  background: #fd5465;
}

.cart_items .info .edit a:hover,
.cart_items .info .edit a.red:hover {
  background: #f7941e;
}

.cart_items .disable {
  background: #000;
  color: #fff;
}

.text_red {
  color: #fd475a;
}

.text_gray {
  color: #aaa;
}

@media delivery_address {
}
