.footer {
  background-color: #00483d;
  border-radius: 11px;
  color: #fff;
  padding: 10px 20px;

  .MuiChip-filled {
    background-color: #fff !important;
  }
}

ul {
  list-style: none;
  font-size: 13px;
  padding: 0;
  margin-top: 5px;
}

@media only screen and (max-width: 885px) {
  .contentWrapper {
    flex-direction: column;
    div {
      margin-top: 10px;
      min-width: 50%;
    }
  }
}
