.root {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 !important;
  height: 100%;

  :global {
    .MuiGrid-item {
      button {
        text-transform: none;
        min-width: 100%;
        height: 45px;
        padding: 3px;
        display: flex;
        justify-content: flex-start;
      }
    }

    .MuiInputBase-root {
      width: 100% !important;
      height: 33px;
      margin-bottom: 10px;
    }

    .MuiSelect-nativeInput {
      background-color: #e5e5e5;
    }
  }
}

.imgBackground {
  background-color: #fbe9e7;
  padding: 40px;
  height: 100%;
}

.formWrapper {
  padding: 20px 120px 0;
}

.form {
  max-width: 100%;
}
input,
select {
  border-radius: 13px;
  height: 33px;
  width: 100%;
  outline: none;
  background-color: #e5e5e5;
  border: none;
  padding: 8px 20px;
  color: #858585;
  font-size: 13px;
}

.errorText {
  color: #c91010;
  margin-top: 0;
  font-size: 13px;
}

.errorText::before {
  display: inline;
  content: "⚠ ";
}

@media only screen and (max-width: 885px) {
  .form {
    flex-direction: column !important;
    .imgBackground {
      display: none !important;
    }

    .formBox {
      min-width: 100%;
    }
  }
}
