.banner {
  width: 370px;
  height: 30px;
  background-color: #e95d25;
  margin: 20px 0;

  .banner_text_container {
    position: relative;
    z-index: 2;
    left: 74px;
    font-size: 16px;
    font-weight: 700;
    width: 80%;
    border-left: 29px solid transparent;
    border-top: 29px solid white;

    .banner_text {
      position: absolute;
      top: -27px;
      left: 29px;
    }
  }
}
