@import "@app/styles/colors";
@import "@app/styles/variables";
@import "@app/styles/common.module.scss";
@import "@app/styles/icons.module.scss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto-regular", sans-serif;
  font-size: 14px;
  transition: all 0.3s ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
  word-break: break-word;
  font-family: "Noto Sans JP", sans-serif !important;
  box-sizing: border-box !important;
  background-color: #f4f4f4;
  & > iframe {
    display: none;
  }
  margin: 0 !important;
  letter-spacing: 0.01em;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
}

a {
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

p {
  margin: 0;
}

.list__menu {
  background: #00483d;
  box-shadow: 0 4px 6px #ccc;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  max-width: 1200px;
}
