.root {
  :global {
  }
}

.checkIcon {
  font-size: 60px !important;
  color: #009981;
}

.orderInfoWrapper {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 20px;
}

.tableHead {
  background-color: #009a82 !important;
  color: #fff !important;
  padding: 8px 10px !important;
  border-right: 1px solid #fff;
}
