.tabs {
  background: "#fff";
}
.slide {
  max-height: 375px;

  .img_banner {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.button_tab_container {
  height: 70px;
  display: flex !important;
  align-items: center;
  justify-content: center;

  .button_tab {
    width: 97%;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 6px #00000029;
    border-radius: 8px;
    padding: 10px 15px;
    line-height: 1;

    &:hover {
      animation-name: zoom;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      box-shadow: 0 4px 6px #00000029;
      background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%)
        0% 0% no-repeat;
      color: white;
    }

    &.active {
      animation-name: zoom;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      box-shadow: 0 4px 6px #00000029;
      background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%)
        0% 0% no-repeat;
      color: white;
    }

    p {
      font-size: 13px;
    }

    small {
      font-size: 11px;
    }
  }

  @keyframes zoom {
    from {
      padding: 10px 15px;
      // margin-top: 5px;
    }

    to {
      padding: 15px 15px;
      margin-top: 0;
    }
  }
}
