.root {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 !important;

  :global {
    .MuiTableCell-root {
      border: 1px solid #ddd;
    }
  }
}

.tableHead {
  background-color: #009a82;
  color: #fff !important;
  padding: 8px 10px !important;
}
.searchBox {
  border-radius: 14px !important;
}

ul {
  list-style-type: square !important;
}

.searchResult {
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px 0px;
  z-index: 9999;
  top: 100px;

  li {
    padding: 0 20px;
  }
  li:hover {
    background-color: #ccc;
  }
}
